.default-container {
  background-color: grey;
  color: rgb(31, 31, 31);
}

/* a {
  color: inherit;
} */

.box {
  background-color: rgb(184, 142, 142);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-self: center; */
}

.gridd {
  box-sizing: border-box;
  margin: 10px 20px;
  background-color: black;
  padding: 0 1rem;
}

/* p {
  margin-bottom: 2rem;
} */
